<nav class="navigation">
  <div class="navigation__inner">
    <div class="navigation__inner--left">
      <h1 class="navigation__logo">MeenkStore</h1>
      <p class="navigation__description">The finest weird goods by
        <a href="https://github.com/AkimaLunar/">AkimaLunar</a>. Please, indulge responsibly. Voluptatibus, a eveniet quo unde hic consequuntur.</p>
    </div>
    <div class="navigation__inner--right">
      <div class="navigation__user">
        <button class="button--white button--rounded">Log In</button>
      </div>
      <ul class="navigation__list">
        <li class="navigation__item">Shop Now</li>
        <li class="navigation__item">New Arrivals</li>
        <li class="navigation__item">Brands</li>
        <li class="navigation__item">The Basics</li>
        <li class="navigation__item">About Us</li>
      </ul>
    </div>
  </div>
</nav>
