%button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius:4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

@each $theme, $color in $accent-colors {
  .button--#{$theme} {
    @extend %button;
    background-color: $color;
    color: transparentize($white, .2);
    font-weight: 700;
    padding: $base-spacing;
    text-align: center;
  }
  .button--#{$theme}:hover,
  .button--#{$theme}:focus {
    background-color: shade($color, 20%);
    color: $white;
  }
}

.button--white {
  @extend %button;
  background-color: transparentize($color: #ffffff, $amount: 0.9);
  border: 1px solid transparentize($color: #ffffff, $amount: 0.8);
  color: transparentize($white, .2);
  font-weight: 700;
  padding: $base-spacing;
  text-align: center;
}
.button--white:hover,
.button--white:focus {
  background-color: transparentize( #ffffff,  0.6);
  color: $white;
}

@each $theme, $color in $brand-colors {
  .button--#{$theme} {
    @extend %button;
    background-color: $color;
    color: transparentize($white, .2);
    font-weight: 700;
    padding: $base-spacing;
    text-align: center;
  }
  .button--#{$theme}:hover,
  .button--#{$theme}:focus {
    background-color: shade($color, 20%);
    color: $white;
  }
}

.button {
  @extend %button;
  text-align: center;

  &--rounded {
    font-weight: 400;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
  }
}
